{% extends "auth/login_base.html" %}


{% block content %}

{% if form.errors %}
<p class="error">Your username and password didn't match. Please try again.</p>
{% endif %}
<div class="login">
<form method="post" action="/auth/auth/" >
{% csrf_token %}
    <p><input type="text" name="username" id="username" value="" placeholder="Username or Email"></p>
    <p><input type="password" name="password" id="password"value="" placeholder="Password"></p>
    <p><input class="button-style" type="submit" value="Login"></p>
</form>

</div>
{% endblock %}